@charset "utf-8";
/* 初期設定を初期化*/
body{
    margin:0;
    padding:0;
    background-color: #cccccc;
    color: #333333;
    font-size: 15px;
    line-height: 2;
}

img{
    vertical-align:bottom;
}

ul{
    margin: 0;
    padding: 0;
}
p,h1,h2,h3,h4,h5,h6{
    margin-top:0;

}

a{
    color: #3583aa;
    text-decoration: none;
}
/*疑似クラスを用いてマウスカーソル検出時にスタイルを変更*/
a:hover{
    color: #788d98;
    text-decoration: underline;
}

header{
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.logo{
    float: left;
    margin-top: 50px;
}
.global-nav{
    float: right;
    margin-top: 90px;
}
.global-nav li{
    float:left;
    margin:0 20px;
    font-size:20px;
    list-style: none;
    font-family: 'Dela Gothic One', cursive;
}
.global-nav li a {
    color: #ffffff;
}
.global-nav li a:hover{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}
#index #wrap{
    clear:both;
    background-color: transparent;
    margin-top: 0;
    padding: 0;
    
}
#about #wrap{
    clear:both;
    background-color: #cccccc;
    margin-top: 220px;
    padding: 35px 0;
}

.content{
    width:960px;
    margin: 0 auto;
}

footer {
    text-align: center;
    color: #ffffff;
    padding:20px 0;
}
footer small{
    font-size: 12px;
}

#index h1{
    font-size: 50px;
    line-height: 1;
    font-family: 'Dela Gothic One', cursive;
    color: #ffffff;
    margin-bottom: 50px;
    border: none;

    
}
#index .content{
    margin-top: 150px;
    margin-bottom: 50px;
}
#index p{
    font-size: 16px;
    color: #ffffff;
}
.btn a {
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Dela Gothic One', cursive;
    width: 185px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #009cd3;

}
.btn a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
}
#index footer{
    width: 960px;
    margin: 150px auto 0 auto;
    text-align: left;
    background-color: transparent;
}
#about footer{
    
    background-color: transparent;
}
#index{
    background-image: url(../images/backgroundTop.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#about{
    background-image: url(../images/aboutBackground.jfif);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: 100% auto;
}
.main-center{
    width: 940px;
    margin: 0 auto;
}
#about h1{
    font-size: 36px;
    line-height: 1;
    font-family: 'Dela Gothic One', cursive;
    color: #ffffff;
    border-bottom: 1px solid #cccccc;
    
}
#about h2{
    font-size: 24px;
    font-family: 'Dela Gothic One', cursive;
    
}
.icon:before {
    content:"";
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
}
#about .profile-txt{
    width: 540px;
    float: left;
}
#about .profileText span{
    font-weight: bold;
}
#about .profile-image{
    float: right;
}

#content #portfolio h1{
    font-size: 20px;
    font-family: 'Dela Gothic One', cursive;

}
#portfolio{
    background-image: url(../images/aboutBackground.jfif);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
    
}
#portfolio .linkBanner{
	
	transition: .3s;
}
#portfolio .linkBanner img:hover {
    opacity: 0.8;
	/*filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
	transform:translateY(-4px) ;*/
}
.main {
    width: 700px;
    margin: 0 10px;
    float: left;
}
.sidebar{
    width: 200px;
    margin: 0 10px 0 30px;
    float: right;
    color: #ffffff;
    border-bottom: 1px solid #cccccc;
}
.sidebar h2{
    margin-top: 10px;
}
.sidebar ul{
    font-size: 16px;
    margin-left: 20px;
}
.sidebar ul a{
    color:#333333;
    font-family: 'Dela Gothic One', cursive;
    font-size: 16px;
    
}
#portfolio #wrap{
    background-color: #cccccc;
    margin-top: 220px;
    padding: 35px 0;
    overflow:auto; 
}
#portfolio footer{
    clear:both;

}
.sketchfab-embed-wrapper{
    float:left;
    overflow:hidden; 
    
}
.sketchfab-embed-wrapper:hover{
    transform:scale(1.2,1.2);
    
}
#portfolio-personalWork footer{
    clear:both;

}
#portfolio-personalWork .clearfix {
    display: block;
  }